{% extends 'base.html' %}
{% load static %}

{% block title %}Destinos Invierno{% endblock %}
{% block page_heading %}{{ titulo }}{% endblock %}
{% block page_subheading %}Listado de viajes disponibles{% endblock %}

{% block content %}
<style>
    .carousel-item {
        height: 32rem;
        background-color: #212529
    }
    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 2rem;
    }
</style>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for item in lista_destinos %}
            <button type="button" 
                    data-bs-target="#myCarousel" 
                    data-bs-slide-to="{{ forloop.counter0 }}" 
                    {% if forloop.first %}class="active" aria-current="true"{% endif %} 
                    aria-label="Slide {{ forloop.counter }}">
            </button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for item in lista_destinos %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                
                <svg aria-hidden="true" class="bd-placeholder-img" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" xmlns="http://www.w3.org/2000/svg">
                    <rect width="100%" height="100%" fill="#343a40"></rect>
                </svg>

                {% if item.imagen %}
                    <img src="{% get_static_prefix %}{{ item.imagen }}" alt="{{ item.nombre }}">
                {% endif %}

                <div class="container">

                    <div class="carousel-caption {% cycle 'text-start' '' 'text-end' %}">
                        <h1>{{ item.nombre }}</h1>
                        <p class="opacity-75 fs-4">Descripción: {{ item.descripcion }}</p>
                        <p class="opacity-75 fs-4">Precio: ${{ item.precio }}</p>
                        <p><a class="btn btn-lg {{ item.clase_boton }}" href="#">{{ item.texto_boton }}</a></p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="carousel-item active">
                <svg aria-hidden="true" class="bd-placeholder-img" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" xmlns="http://www.w3.org/2000/svg">
                    <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-center">
                        <h1>No hay productos disponibles.</h1>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}